<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.title %></title>
  <link rel="stylesheet" href="/public/signup.css" />
  
</head>

<body>
  <div class="container">
    <h2>회원가입</h2>
    <form id="signupForm">
      <input type="text" id="name" name="name" placeholder="이름" required>
      <br>
      <input type="text" id="birthdate" name="birthdate" placeholder="생년월일" required>
      <br>
      <input type="text" id="user_id" name="user_id" placeholder="아이디" required>
      <br>
      <input type="password" id="password" name="password" placeholder="비밀번호" required>
      <br>
      <input type="submit" value="회원가입">
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
    $(document).ready(function () {
      $("#signupForm").submit(function (event) {
        event.preventDefault();

          let name = $("#name").val();
          let birthdate =  $("#birthdate").val();
          let user_id = $("#user_id").val();
          let password = $("#password").val();

        $.ajax({
          type: "POST",
          url: "/signup",
          data: {
            user_id:user_id,
            name:name,
            birthdate:birthdate,
            password:password
          },
          success: function (response) {
            console.log(response);
            if (response.success) {
              alert("회원가입이 성공했습니다.");
              window.location.href = "/login";
            }
          },
          error: function (error) {
            console.error(error);
            alert("회원가입 실패: 중복된 ID 사용");
          }
        });
      });
    });
  </script>
  

</body>

</html>
